body {
  background-color: black;
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 30px;
  font-weight: 500;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Rock Salt', cursive;
}

#description {
  color: white;
  font-size: 40px;
}
